.cd-login-form {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-60%);
  width: 330px;
  z-index: 1;
}
.cd-login-form-cont {
  padding: 16px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  webkit-transition: all 0.2s ease-in-out;
  filter: alpha(opacity=35);
  border: 1px solid rgba(60, 60, 60, 0.12);
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 1px #717a97;
}
.cd-login-form-cont-top {
  text-align: center;
  font-size: 20px;
  color: #232f3e;
  margin: 10px 0;
}
.cd-login-form-cont-top .logo {
  width: 64px;
  height: 64px;
}
.cd-login-form-cont-main .tip {
  text-align: center;
  color: #ed4014;
  font-size: 10px;
}
.cd-verify-code {
  display: flex;
}
.cd-verify-code .ivu-input-wrapper {
  flex: 1;
}
.cd-verify-code img {
  width: 20%;
  margin-left: 5px;
  cursor: pointer;
}
.cd-password-remenber {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.cd-password-remenber a {
  color: #181818;
}
.cd-login-form-tip {
  font-size: 10px;
  text-align: center;
  color: #ed4014;
  margin-top: 8px;
}
