.cd-user-opera .ml10 {
  margin-left: 10px;
}
.cd-user-opera-dropdown {
  margin-left: 10px;
}
.cd-user-opera-dropdown .avatar {
  display: inline-block;
  vertical-align: bottom;
}
.cd-user-opera-dropdown a {
  color: #fff;
}
