.cd-pagelist .search-wrap-btns {
  position: relative;
}
.cd-pagelist .search-wrap-btns .text-btn-box {
  position: absolute;
  right: 0;
  top: 0;
}
.cd-pagelist .search-wrap-btns .text-btn-box .text-info {
  color: #1190fb;
}
.cd-pagelist .search-wrap-btns .tc {
  text-align: center;
}
.cd-pagelist .search-wrap-btns .ivu-btn {
  margin-left: 10px;
}
.cd-pagelist .search-wrap-btns .ivu-btn:first {
  margin-left: 0;
}
.cd-pagelist .table-btnbar-left {
  display: flex;
  align-items: center;
}
.cd-pagelist .table-btnbar-right {
  text-align: right;
}
.cd-pagelist .table-box {
  position: relative;
}
.cd-pagelist .table-box,
.cd-pagelist .table-pager {
  margin-top: 10px;
}
.cd-pagelist .back-tip {
  position: absolute;
  z-index: 999;
  min-width: 100px;
  max-width: 300px;
  min-height: 25px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.7);
}
.cd-pagelist .back-tip:before {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
  border-width: 5px 5px 5px 0;
}
