.cd-map {
  position: relative;
}
.cd-map-search {
  display: flex;
  align-items: center;
}
.cd-map-search .ml10 {
  margin-left: 10px;
}
.cd-map-search-input .ivu-input-group-append {
  background-color: #57a3f3;
}
.cd-map-search .city-select {
  width: 150px;
}
.cd-map-search .city-search {
  color: #fff;
  cursor: pointer;
}
.cd-map-box {
  width: 100%;
  height: 100%;
}
.tangram-suggestion-main {
  z-index: 9999;
}
